<% include ../partials/header %>
    
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default tg-panel">
                
                    <div class="panel-heading">
                        <h2 style="color:#015249;">About the venue</h2>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="<%= drive.dvenueImage %>">
                        </div>
                        <div align="center"><button class="btn btn-success ds-read">Details</button></div>
                        
                         <p style="display:none" class="ds-venue"><%= drive.dvenue %> </p>
                    
                    </div>
            </div>
            
            <% if(drive.dverify==false){ %>
                <form method="POST" action='/drives/<%= drive._id %>/approveStatus?_method=PUT'>
                    <button class='ds-btn'>Approve</button>
                </form>
            <% }%>
        </div>
        
        <div class="col-md-5">
            <div class="panel panel-default tg-panel">
                <div class="panel-body">
                    <div class="thumbnail ds">
                        <img class="img-responsive" src="<%= drive.dbanner %>">
                    </div>
                    <div>
                        <h3 id="ds-name"><%= drive.dTitle %></h3>
                        <h4 style="color:#008080;"><%= drive.dLocality %>  <%= drive.dArea %></h3>
                        <h4><strong><%= dDate  %></strong></h4>
                        <p style="font-family:serif; font-size:16px;"><%= drive.dContent %></p>
                    </div>
                    <div class="blog-author">
                        <div class="pull-left">
                            <% if(currentUser && drive.dOrganiser.id.equals(currentUser._id)){ %>
                                <a href="/drives/<%= drive._id %>/edit" class="tip btn btn-default"><i class="fas fa-pen blog-icons"></i><span></span></a>
                                <form action="/drives/<%= drive._id %>?_method=DELETE" method="POST" class="delete-form">
                                    <button class="tip btn btn-default"><i class="far fa-trash-alt blog-icons blog-delete-icon"></i><span></span></button>
                                </form>
                            <% } %>
                        </div>
                        <div class="pull-right">
                            <em>~ Organised by <%= drive.dOrganiser.username %></em>
                        </div>
                    </div>
                    <div>
                        <br><br>
                        <% var volunteer_set; %>
                        <% drive.volunteers.forEach(function(volunteer){ %>
                            <% if(currentUser && volunteer.vol.id.equals(currentUser._id)){ %>
                                <div>
                                   <p id="vol-ty">Thanks for volunteering!</p> 
                                </div>
                                <%  volunteer_set=1; %>
                            <% } %>
                        <% }) %>
                        <% if(volunteer_set!=1){ %>
                           <form id="volunteer-form" action="/drives/<%= drive._id %>/volunteer" method=POST>
                           <button class="ds-btn">Volunteer now!</button>
                           </form>
                       <% } %> 
                    </div>
                </div>
            </div>
            
            <div class="well" style="font-family:serif; font-size:16px;">
                <button class ="pull-right btn btn-success ds-read" id="addComment"></i>Add a new Comment</button>
                <form id="commentForm" style="display:none;" action="/drives/<%= drive._id %>/comments" method="POST">
                    <input style="width:100%;" type="text" placeholder=" Enter comment here" name="comment[text]"><br>
                    <input type="submit" class="submitComment btn btn-success ds-read" value="Submit!">
                </form>
                
                    <div class="row">
                        <div class="col-md-12">
                            <p id="newComment">
                                 <% drive.comments.forEach(function(comment){ %>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong><%= comment.author.username %></strong>
                                            <!--<span class="pull-right">10 days ago</span>-->
                                            <p>
                                                 - <%= comment.text %>
                                            </p>
                                           
                                        </div>
                                    </div>
                                <% }) %>
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        
        
        <div class="col-md-4">
            <div>
				<div class="row map-container text-center" style="margin:5px;">
		    		<iframe
						width="100%"
						frameborder="0" style="border:0; height: 400px;"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAE4x8s87dyYr_6auXG9CG2BEFpgXnIwC4 &q='<%= drive.dGeoLocation %>'">
					</iframe>
		    	</div>
		    </div>
		    
		  <div class="panel panel-default tg-panel" style="margin-top:20px">
		      <div class="panel-heading">
		         <h2 style="color:#015249;">Volunteer list</h2> 
		      </div>
		      <div class="panel-body" style="font-family:serif; font-size:16px;">
		          <ol>
    		        <% drive.volunteers.forEach(function(volunteer){ %>
                        <li><%= volunteer.vol.username %></li>
                    <% }) %>
    		      </ol>
		      </div>
		  </div>
		    
		    
        </div>
        
        
    </div>
</div>

<% include ../partials/footer %>