<% include ../partials/header %>
    <div class='container'>
        <div class='row'>
            <div class='panel panel-default blog-details' style='width:80%;margin:25px auto'>
                <div class='panel-heading'><%= blog.bTitle %></div>
                <div class='panel-body'>
                    <div class='thumbnail' style='width:70%;margin:0 auto'>
                        <img src='<%= blog.bImage %>'>
                    </div>
                    <div class='blog-body'>
                        <p> <%= blog.bContent %>
                        </p>
                    </div>
                    <div class='blog-author'>
                        <div class='pull-left'>
                            <a href="/blog/<%= blog._id %>/edit" class="tip btn btn-default"><i class="fas fa-pen blog-icons"></i><span>Edit</span></a>
                            <form action="/blog/<%= blog._id %>?_method=DELETE" method="POST" class="delete-form">
                                <button class="tip btn btn-default"><i class="far fa-trash-alt blog-icons blog-delete-icon"></i><span>Delete</span></button>
                            </form>
                        </div>
                        <div class='pull-right'>~ By username<span class='blog-date'><%= blog.bDate.toDateString() %></span></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>